@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container1 {
  padding: 20px;
  margin-top: 50px;
}

.nama {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Gambar {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Gambar:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.skills-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skill-item {
  text-align: center;
}

.skill-item img {
  transition: transform 0.3s ease;
}

.skill-item img.clicked {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

.buttons button {
  margin: 5px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #0056b3;
}

.AboutMe, .Skills, .History, .Contact, .Project {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

@media (max-width: 600px) {
  .container1 {
      padding: 10px;
  }

  .nama {
      font-size: 1.5em;
  }

  .buttons {
      flex-direction: column;
  }
}

.DivGambarKenalan {
  justify-content: center;
  text-align: center;
  align-items: center;
}
